main {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    overflow-x: hidden;
}

section {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
}

section div {
    width: 90%;
    margin: auto;
}

#section2 {
    flex-direction: row-reverse;
}

.heading {
    font-size: 30px;
    color: #AD163A;
}

.text {
    text-align: justify;
}

.gif1 {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-left: 10%;
}

.gif2 {
    margin-left: -25%;
    width: 150%;
}

.gif3 {
    width: 140%;
    margin-left: -25%;
}

.carousel-container {
    position: relative;
}

.carousel-slide {
    display: none;
}

.slide-content {
    text-align: center;
    padding: 20px;
}

.carousel-dots {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background-color: #AD163A;
}

@media (max-width: 800px) {
    section {
        flex-direction: column;
    }

    .gif1 {
        width: 100%;
        margin-left: 18%;
    }

    #section2 {
        flex-direction: column;
    }

    .gif2 {
        width: 120%;
        margin-left: -25%;
    }
}